.tree-node {
  margin-left: 0; // Elimina márgenes acumulativos
  padding-left: 1rem; // Usa un padding fijo para la indentación
}

.node-label {
  font-weight: bold;
  cursor: pointer;
}

.list-group {
  padding-left: 0; // Elimina el padding predeterminado de la lista
}

.list-group-item {
  padding: 0.5rem 1rem; // Espaciado interno consistente
  border: none; // Elimina bordes entre los elementos
  font-size: 0.875rem; // Tamaño de fuente consistente
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: transparent !important;

  &:hover {
    background-color: #e6ffe6; // Fondo verde muy claro al pasar el mouse
  }
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none; // Elimina los estilos de lista predeterminados
  padding-left: 0; // Elimina el padding predeterminado
  margin: 0; // Elimina márgenes acumulativos
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: transparent;;

  &.collapsed {
    max-height: 0;
  }

  &.expanded {
    max-height: 500px; // Ajusta según el contenido
  }
}

.folder-icon {
  color: #FFD700 !important; // Fuerza el color amarillo dorado
  font-size: 1.2rem; // Ajusta el tamaño del ícono si es necesario
}

.bi-file-earmark {
  color: #A0522D; // Color marrón claro para los archivos (opcional)
}

.bi-file-earmark-fill {
  color: #FFD700 !important; // Fuerza el color marrón claro para los archivos
}